<section id="services">
    <div class="services-background">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-sm-offset-3 servicesWrapper">
                    <!-- Section Title -->
                    <div class="section-title">
                        <h2><span>02</span>Сервисы</h2>
                    </div><!-- end Section Title -->
                    <!-- Service boxs -->
                    <div class="service-box"  v-for="service in services">
                        <div>
                            <i :class="['fa', service.icon ]" aria-hidden="true"></i>
                        </div>
                        <div>
                            <h3>{{ service.name }}</h3>
                            <ul>
                                <li v-for="item in service.items">
                                    {{ item }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end Service boxs -->
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</section>
